<h2>Welcome to Josh's Poker Room!</h2>

<h2>Upcoming Tournaments</h2>

{{#unless events.hasEvents }}
  <p>There are no events to display</p>
{{/unless}}

<ul class="list-group">
  {{#each events}}
    <li class="list-group-item d-flex align-items-center">
      <div class="flex-grow-1">
        <strong>{{this.eventName}}</strong>
        <br/>{{this.eventDate}}
      </div>
      {{#if @root/isLoggedIn}}
        {{#if this.isRegistered}}
          <button class="btn btn-outline-primary register-button" disabled>
            <i class="fas fa-check-circle"></i>&nbsp;Registered
          </button>
        {{else}}
          <a href="/register/{{this.id}}" class="btn btn-primary register-button">
            Register
          </a>
        {{/if}}
      {{else}}
        <a href="/login" class="btn btn-primary">
          Login to Register
        </a>
      {{/if}}

    </li>
  {{/each}}
</ul>